<input
  hidden
  type="file"
  id="folderUploader"
  directory
  multiple
  webkitdirectory
  mozdirectory
  #folderUploader
  (change)="handleFolderChange($event)" />

<div class="file-uploader-wrapper">
  <mat-form-field class="w-100" appearance="outline" [class.file-uploader-disabled]="isDisabled">
    <input
      matInput
      type="text"
      id="folderName"
      [value]="folderName"
      placeholder="Choose a folder"
      disabled="true" />

    <button
      mat-button
      mat-icon-button
      matSuffix
      type="button"
      *ngIf="!folderName" 
      (click)="folderUploader.click()"
      [disabled]="isDisabled">
      <mat-icon matSuffix>
        folder_open
      </mat-icon>
    </button>

    <button
      mat-button
      mat-icon-button
      matSuffix
      type="button"
      *ngIf="folderName && !isDisabled" 
      (click)="removeFolder()">
      <mat-icon>
        close
      </mat-icon>
    </button>
  </mat-form-field>
</div>
